{% extends 'layout.html.twig' %}

{% block main %}
<link rel="stylesheet" href={{'style/form.css' }}>

<h1>Page de connexion</h1>

{{form_start(connexionForm) }}

{{form_widget(connexionForm.email,{'full_name':'email'})}}
{{form_errors(connexionForm.email) }}

{{form_widget(connexionForm.password,{'full_name':'password'})}}
{{form_errors(connexionForm.password)}}

{{form_end(connexionForm) }}


{% endblock %}