{% set route =  path(app.request.attributes.get('_route'))%}
<nav>
	<a href={{path('home')}} class={{route == "/" ? "active" : ""}}>
		Accueil
	</a>
	<a href={{path('contact')}} class={{route == "/contact" ? "active" : ""}}>
		Contact
	</a>

	{% if app.user %}
		<a href={{path('profil')}} class={{route == "/profil" ? "active" : ""}}>
			Profile
		</a>
		<a href={{path('logout')}} class={{route == "/logout" ? "active" : ""}}>
			Déconnexion
		</a>
	{% else %}
		<a href={{path('connexion')}} class={{route == "/connexion" ? "active" : ""}}>
			Connexion
		</a>
		<a href={{path('inscription')}} class={{route == "/inscription" ? "active" : ""}}>
			Inscription
		</a>
{% endif %}
	</nav>
